/Endpoint.class
/Intervals.class
/Node.class
/RBTree.class
/.metadata/
/RBInsertion.class
/RBTreeTests.class
/RBTreeTest.class
/NodeTest.class
/IntervalsTest.class
/EndpointTest.class
/DeletionTest.class
/BigTest.class
/TestJUnit.class
/TestJunit.class
